
.sidedrawer {
  height: 100vh;
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include tablet {
    width: 50%;
    position: absolute;
    right: 0;
  }

  .navbar__contact {
    background-color: transparent;
    color: #FFF;
    opacity: 0.7;
    border: 1px solid #FFF;
  }
}