
.sidedrawer {
  height: 100vh;
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include tablet {
    width: 50%;
    position: absolute;
    right: 0;
  }

  ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;  
    gap: 1rem;

    li {
      a {
        color: #FFF;
        text-transform: uppercase;
      }
    }
  }

  button {
    background-color: transparent;
    color: #FFF;
    opacity: 0.7;
    border: 1px solid #FFF;
  }
}