@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: $roboto, $sans-serif;
    font-size: $font-size-primary;
    font-weight: $normal;
    line-height: $line-height-primary;
    background-color: #FFF;
}

h1 {
    margin: 0;
    font-size: $font-size-h1;
    font-weight: $bold;
    line-height: $line-height-h1;
}

button {
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    font-weight: $normal;
    padding: 14px 32px;
    background-color: #FFF;
    color: $primary-normal;
    border: 1px solid $primary-normal;
    border-radius: 5px;
}