@import './styles/reset.scss';
@import './styles/helpers/variables';
@import './styles/helpers/mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: $roboto, $sans-serif;
    font-size: $font-size-primary;
    font-weight: $normal;
    line-height: $line-height-primary;
    background-color: #FFF;
}

%flex-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: $font-size-h1;
    font-weight: $bold;
    line-height: $line-height-h1;
}

button {
    cursor: pointer;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    font-weight: $normal;
    padding: 14px 32px;
    color: $primary-normal;
    border: 1px solid $primary-normal;
    border-radius: 5px;
}